@charset "utf-8";
div.content {
	padding-bottom: 152px;
}
.pay-description {
	font-size: 15px;
	color: #A0A0A0;
	padding:0 16px 74px;
	text-align: center;
}
div.content button#border-round-rec-btn {
	margin-bottom: 20px;
}