@charset "utf-8";
.content {
	background-color: #fff;
	padding: 100px 0px 130px;
	display: block;
}
img {
	width: 124px;
	height: 100px;
	margin: 0 auto;
	display: block;
}
.title {
	font-size: 20px;
	color: #4A4A4A;
	padding: 26px 16px 8px;
	text-align: center;
}
.description {
	font-size: 15px;
	color: #A0A0A0;
	padding:0 16px 257px;
	text-align: center;
}
/* btn */
div.content button#round-rect-btn {
	opacity: 1.0;
	position: absolute;
	bottom: 54px;
	left: 50%;
	transform: translateX(-50%);
}